/* css(cascading style sheet) :

 a language totaly made up for styling documents

-------------------------------------------------------------------------------------------------------
selector (kon kon se html tags ke upar css applied hogi)

h1{                       h1--->(selector)
    color:red;            color--->(property)
}                         red--->(value)


------------------------------------------------------------------------------------------------------
Types of including style:
1).inline
    <h1 style: "color:red"></h1>         (css likhi ho html tag ke andar)


2).<style>tag
    <style>
       h1{
            color: red;                  (css ko alag se file na banakar ek tag ke andar likhna)
       }
    </style> 
    
    
3). External style sheet 
                                          (writing css in separate file and linking with html 
                                          using link tag)
    <link rel="stylesheet" href="style.css">

**inline styling has highest priority**

-------------------------------------------------------------------------------------------------------------

Color Property   
(used to set the color of foreground)

ex: color : red;
    color : pink;

----------------------------------------------------------------------------------------------------------
   

Background Color Property   
(used to set the color of background)

ex: background-color : red;
    background-color : pink;

**color system : 1)rgb(red, green, blue)   -----> range (0-255)
                 2)hex(#redgreenblue)      -----> range (00-ff)


---------------------------------------------------------------------------------------------------------


Selectors
1).   Universal selector -------->  *{}
2).   Element selector   -------->  h1{}
3).   Id selector        -------->  #myId{}
4).   Class selector     -------->  .myClass{}


---------------------------------------------------------------------------------------------------------


Text properties
1). text align: left/right/centre     (alignment parent tag ke hissab se set hoga)
2). text decoration: underline/overline/line-through
3). font-weight: 100-900 , normal/bold/bolder/lighter   (light---dark)
4). font-family:                      (manage to set the style of font)
5). font-size:                        (manage to set the size of font)
6). line-height:                      (manage the gap between the line)
7). text-transform:                   (uppercase/lowercase/capitalize/none)


------------------------------------------------------------------------------------------------------


Box-Model in CSS
1). Height -----> it sets the content area height
2). width -----> it sets the content area width
3). Border -----> itsets the border of a element
      border-width
      border-style (solid/dotted/dashed)
      border-color
      border-radius (round the corner of border)
4). Padding ----> (space between border and content)
      padding-left
      padding-right
      padding-top
      padding-bottom
5). Margin ----> (Gap between two boxes or border)
     margin-left
     margin-right
     margin-top
     margin-bottom


---------------------------------------------------------------------------------------------------------------


Display Property:
display:inline/block/inline-block/none

inline ----> takes only space required by the element (no margin / no padding)
block ----> takes full space available in width
inline-block ----> Simliar to inline but we can set margin and padding
none ----> remove elment from document flow 

**Alpha channel
opacity(0 to 1)
rgba----> (255,255,255,1)


-----------------------------------------------------------------------------------------------------------------


Unit css(relative):
1)Percentage(%)---> size as relative to an element's parent object
2)em ---> relative to the font-size of parent / but width will be relative of font-size of element
3)rem ---> relative to the font-size of element
4)vh ---> relative to 1% viewport height
5)vw ---> relative to 1% viewport weight


----------------------------------------------------------------------------------------------------------------


Position
the position CSS property sets how an element is positioned in a document
position: static/relative/absolute/fixed

static - default position (The top,right,bottom,left,and z-index properties have no effect)
relative - element is relative to itself (The top,right,bottom,left,and z-index will work)
absolute - positioned relative to its closest positioned ancestor (removed from flow)
fixed - positioned relative to browser.(removed from flow)
sticky - positioned based on user's scroll position


------------------------------------------------------------------------------------------------------------


z-index
it decides the stack level of elements
Overlapping elements with a larger z-index cover those with a smaller one
z-index: auto(0)
z-index: 1/2/...
z-index: -1/-2/... 


------------------------------------------------------------------------------------------------------


background-image/size/repeat:
used to set an image as background

background-image : url("image.jpeg");
background-size : cover/contain/auto
background-repeat : no repeat;


-------------------------------------------------------------------------------------------------------------------


Flexbox:
it provides a conatiner where we can arrange element according to the row and column

1).Flexbox-direction:
         it sets how flex items are placed in the flex container , along which axis and direction
         flexbox-direction : row;(default)
         flexbox-direction : row-reverse;
         flexbox-direction : column;
         flexbox-direction : column-reverse;

2).Flex Prperties:
        justify-content : alignment along the main axis.
        flex-start/flex-end/centre/space-evenly/space-between

        flex-wrap : nowrap/wrap/wrap-reverse

        align-items : alignment along the cross axis

        align-content : alignment of space between & around the content 

        align-self : alignment of individual along the cross axis

        flex-grow : how much a flex item will grow relative to the rest of the flex items if space is available

        flex-shrink : how much a flex item will shrink relative to the rest of the space is available


--------------------------------------------------------------------------------------------------------------------


Media Queries:
help create a responsive website
(alag alag device mai kese response karegi)

@media(width / min-width / (max-width : 200px) and (min-width : 300px) ){
    div/navbar......(jo tag ki properties change karni ho)
}


------------------------------------------------------------------------------------------------------------------------


Transitions:
Transitions enable you to define the transition between the sttes of an element

transition-property : property you want to transition(font-size, width etc.)
transition-duration : 2s/4ms ..
transition-timing-function : ease-in/ease-out/linear/steps ..
transition-delay : 2s/4ms ..

**transition-shorthand
     transition: property name | duration | timing-function | delay


--------------------------------------------------------------------------------------------------------


CSS Transform
1)rotate
      syntax:   transform: rotate/rotateX/rotateY/rotateZ(45deg);

2)scale 
      syntax:   transform: scale/scaleX/scaleY(2)(1,2);

3)translate
      syntax:   transform: translate/translateX/translateY(20px)(20px,50px);

4)skew
      syntax:   transform: skew(30deg);


----------------------------------------------------------------------------------------------------------------------------


Animation
To animate CSS elements

     @keyframe myName{
       from{font-size : 20px; }
       to{font-size : 30px; }
    }

**properties:
     animation-name
     animation-duration
     animation-timing-function
     animation-delay
     animation-iteration-count
     animation-direction   (normal/reverse/alternate/rev-alternate)

**from - to ki jagah percentage bhi use kar sakte hai jaise 0% -> 50% -> 100%


*/

#loader{
    border: 20px solid aqua;
    border-top: 20px solid black;
    border-radius: 50%;
}

